*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: linear-gradient(to bottom, #01c4ca, #01a0ca);
  min-height:100%!important;
  /*padding-bottom: 5em!important;*/
  /*height: 100%!important;*/
  /*background-color: #01C4CA;*/
}

.center {
  text-align: center;
}
.navbar {
  background-color: #FDFF02;
  margin-bottom: 0;
  border-bottom: 5px solid deeppink;
}

.jumbotron {
  padding: 0;
}

#bannerlogo {
  margin-top: 3%;
}

.rock{
  font-family: 'Rock Salt', cursive;
}

#banner {
  background-image: url("/Assets/Black and Yellow Bolt General Soundcloud Banner.png");
  background-size: contain;
  text-align: center;
  width: 100%;
  height: 25%;
}

.white {
  color: ghostwhite!important;
}

.yellow {
  color: #FDFF02!important;
}

.teal {
  color: #01C4CA!important;
}

.grey {
  color: #4a4a4a!important;
}
.lightgrey {
  color: lightgrey!important;
}
 .green {
   color: #14ff80!important;
 }

 .pink {
   color: #ff1493!important;
 }

.card{
  /*display: flex;*/
  /*box-sizing: border-box;*/
  width: 35%;
  /*border: solid #5B6DCD 3px;*/
  padding: 0;
  /*justify-content: center;*/
  margin: 10px;
  text-align: center;
  border: 8px solid deeppink;
  border-radius: 8px;
}


.main-container{
  width: 80%;
  margin: 0 0 0 10%;
}

.card-container {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}

.card-title {
  background-color: deeppink;

  margin: auto!important;
  margin-top: 10%!important;

}

.card-text {

}

.landing-card {
  height: 200px!important;
  width: 250px!important;
  border: 5px solid #FDFF02;
  border-radius: 5px;
}

.profile-card {
  height: 225px!important;
  width: 275px!important;
  border: 5px solid #FDFF02;
  border-radius: 5px;
  margin-bottom: 2em;
}
#single-ad-container{
  display: flex;
  justify-content: center;
  height: 60%;

}

.single-ad-card{
  background-color: deeppink;
  margin-top: 6%;
  height: 100% !important;
  width: 50%!important;
  border: 10px solid #FDFF02;
  border-radius: 5px;
  text-align: center;
}

#single-ad-title{
  font-size: 6em;
  margin-top: 1em !important;
  margin-bottom: .5em !important;
}


.single-ad-line{
  color: #FDFF02;
  width: 80%;
  margin: auto;

}
#single-ad-price{
  margin-top: .5em !important;
  font-size: 3.5em;
}

#single-ad-description{
  font-size: 2.5em;
}






.landingViewBtn, .profile-view-btn{
  background-color: #5d5d5d!important;
  color: white!important;
  border: 2px solid #FDFF02;
  border-radius: 2px;
}
.profile-view-btn{
  padding: 1em;
  margin: .5em;
}

.delete-btn{
  background-color: red;
  color: white!important;
  border: 2px solid white;
  border-radius: 2px;
  padding: 1em;
  margin: .5em;
}

.edit-btn{
  background-color: #14ff80;
  color: white!important;
  border: 2px solid white;
  border-radius: 2px;
  padding: 1em;
  margin: .5em;
}

.profile-delete-btn{
  background-color: red;
  color: white!important;
  border: 2px solid white;
  border-radius: 2px;
  padding: .5em;
  margin: .5em;
  font-size: 1.25em;
}

.profile-edit-btn{
  background-color: #14ff80;
  color: white!important;
  border: 2px solid white;
  border-radius: 2px;
  padding: .5em;
  margin: .5em;
  font-size: 1.25em;
}


.profile-btn-container{
  display: flex;
  justify-content: space-around !important;

}

.profile-btn-edit-container{
  display: flex;
  justify-content: space-around !important;
  width: 40%;
  margin-top: 1em;
  margin-bottom: 2.5em;


}


.navlink {
  font-size: 1.5em;
}
.navbar{
  padding-top: .5em !important;
  padding-bottom: .5em !important;
}
.navbar-brand {
  font-size: 1.8em;
  margin-left: 3%!important;
}

#searchForm {
  margin-top: 9px;
  margin-right: 25px;
}


#searchBar{
  padding: 4px;
  line-height: 20px;
  border: 2px solid #01C4CA;
  border-radius: 5px;

}

#searchButton {
  padding: 4px;
  padding-left: 8px;
  padding-right: 8px;
  background-color: deeppink;
  border: 2px solid #01C4CA;
  border-radius: 5px;
  color: lightgrey;
}

.login-page, .register-page, .edit-profile-container {
 margin-top: 6%;
 margin-bottom: 4em!important;
 padding-bottom: 4em!important;
}

.ads-container {
  margin-bottom: 4em!important;
  padding-bottom: 4em!important;
}


.welcome-container {
  margin-top: 6%;
}
.login-label, .register-label, .edit-label, .create-label {
  margin-top: .25em;
  font-size: 1.5em;
}
.login-input, .register-input, .edit-input, .create-input {
  padding: 4px;
  line-height: 20px;
  border: 2px solid #ff1493;
  border-radius: 5px;
}
#login-button, #register-button, #edit-button, #create-button {
  background-color: #5d5d5d!important;
  color: white!important;
  border: 2px solid #FDFF02;
  border-radius: 2px;
  margin-top: 1.7em;
  font-size: 1.4em;
}

#ad-heading{
  border-top: 4px solid deeppink;
  padding-top: 1em;
  margin-bottom: 1em;
}

#delete-ad-header{
  margin-bottom: 1em;
}

.btn-space-fix {
  margin-left: 0%!important;
}

#footer{
  border-top: 5px solid deeppink;
  background-color: #5d5d5d;
  height: 5em;
  position: fixed;
  bottom: 0!important;
  width: 100%!important;
  margin-top: 8em!important;
  /*padding-top:4em!important;*/

}


#footer-ul{
  display: flex;
  justify-content: flex-end!important;
  margin:0;
  /*padding-left: .25em;*/
  color: #FDFF02;
  list-style: none;
  line-height: 4em;

}
#footer-left{
  margin-right: auto;
  margin-left: 3%;
}

.footer-link{
  color: #FDFF02;
  font-size: 1.5em;
  margin-right: 1%;
  margin-left: 1%;
  /*width: 15%;*/
}

/* unvisited link */
a:link {
  color: #FDFF02;
}

/* visited link */
a:visited {
  color: #14ff80;
}

/* mouse over link */
a:hover {
  color: #ff1493;
}

/* selected link */
a:active {
  color: #01a0ca;
}

#error-card{
  background-color: deeppink;
  width:80%;
  margin: auto;
  margin-top:6em!important;
  padding: 2em;
  text-align: center;
  border: 5px solid #FDFF02;
  border-radius: 5px;
}

#error-head {
  margin-top: .5em!important;
}

